{
	"app": {
		"appId": "ble-services",
		"componentId": "aggregator"
	},
	"basic": {
		"host": "amqp-service",
		"ssl": false,
		"port": 5672,
		"vhost": "services",
		"username": "ble-services",
		"password": "B!35ErV1Ces",
		"retryIntervalMsec": 10000,
		"heartbeatSec": 5
	},
	"publisher": {
		"isAutoPublish": false,
		"publishConfirm": true,
		"msgAndQPersistent": true,
		"exDurable": true,
		"autoHealMsgFabric": true,
		"retryIntervalMsec": 10000,
		"bindings": [{
			"name": "ble.lights",
			"queue": "ble.lights",
			"exchange": "global.topic",
			"routingKey": "ble.lights"
		}],
		"messageProperties": {
			"contentType": "text/plain",
			"deliveryMode": 2
		}
	},
	"consumer": {
		"retryIntervalMsec": 10000,
		"isManualAck": true,
		"msgAndQPersistent": true,
		"autoHealMsgFabric": true,
		"exDurable": true,
		"bindings": [{
			"queue": "ble.aggregator",
			"exchange": "global.topic",
			"routingKey": "ble.aggregator"
		}],
		"error":{
			"queue": "ble.aggregator.error",
			"exchange": "global.topic",
			"routingKey": "ble.aggregator.error"
		},
		"notification":{
			"queue": "ble.aggregator.notification",
			"exchange": "global.topic",
			"routingKey": "ble.aggregator.notification"
		}
	}
}
