{
  "cache": {
    "setup": "internal",
    "storage": {
      "strategy": "multiEvent",
      "policy": {
        "archiveBy": "Object",
        "eventLimit": 4
      },
      "eventTrigger": {
        "primaryEvent": ["Path", "to", "data", "in", "JSONObj"],
        "secondaryEvent": ["Path", "to", "data", "in", "JSONObj"]
      },
      "byteSizeWatermark": 2000000
    },
    "flushStrategy": "multi"
  }
}
