# Scripts
scripts/
# Docker build files
Dockerfile
# Jenkinsfile
Jenkinsfile
# Testsuite
test
# ESlint configurations
.eslint*
# NPM package itself
*.tgz
# Bash scripts
*.sh
# Travis files
.travis.yml
